{% extends "layout.html" %}

{% block content %}
    <h1 class=" titre" >Nos types de PC</h1>

    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Type de PC</th>
                </tr>
            </thead>
            <tbody>
                {% for type_pc in liste_pc_type %}
    <tr>
        <td>
            <a href="{{ url_for('choix_type_pc', type_pc=type_pc) }}" class="lien-type">{{ type_pc }}</a>
        </td>
    </tr>
{% endfor %}

            </tbody>
        </table>
    </div>
{% endblock content %}

